@model APIDashboard.Models.DashBoardPreProd
@{
    ViewData["Title"] = "PreProduction";
}

<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<!-- API Issue : No problem has been detected about our API in production environment
    No problem has been detected about our API in preproduction environment | Nothing to report | No date -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-9 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (Informations myInfos in Model._Informations)
                    {
                        <h2 class="text-issue">@myInfos.TitleImportantInformations</h2>
                    }
                </div>
                <div class="row">
                    <div class="col-lg-12 mb-4">
                        @foreach (Informations myInfos in Model._Informations)
                        {
                            var style = (myInfos.StateImportantInformations == "OK") ? "background-color:#1cc88a !important;color:#ffffff" : "";
                            var style1 = (myInfos.StateImportantInformations == "KO") ? "background-color:#f2dede !important;color:#a94442" : "";
                            var style2 = (myInfos.StateImportantInformations == "NOK") ? "background-color:#febe28 !important;color:#ffffff" : "";
                            if (myInfos.ImportantInfos.Contains("API"))
                            {
                                <div class="card bg-success text-white shadow" style="@style;@style1;@style2">
                                    <div class="card-body">
                                        <p style="@style;@style1;@style2">@myInfos.ImportantInfos</p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-lg-6 mb-4">
                        @foreach (Informations myInfos in Model._Informations)
                        {
                            var style = (myInfos.StateImportantInformations == "OK") ? "background-color:#1cc88a !important;color:#ffffff" : "";
                            var style1 = (myInfos.StateImportantInformations == "KO") ? "background-color:#f2dede !important;color:#a94442" : "";
                            var style2 = (myInfos.StateImportantInformations == "NOK") ? "background-color:#febe28 !important;color:#ffffff" : "";
                            if (myInfos.ImportantInfos.Contains("Get") || myInfos.ImportantInfos.Contains("Submit"))
                            {
                                <div class="card bg-success text-white shadow" style="@style;@style1;@style2">
                                    <div class="card-body">
                                        <p style="@style;@style1;@style2">@myInfos.ImportantInfos</p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-lg-6 mb-4">
                        @foreach (Informations myInfos in Model._Informations)
                        {
                            var style = (myInfos.StateImportantInformations == "OK") ? "background-color:#1cc88a !important;color:#ffffff" : "";
                            var style1 = (myInfos.StateImportantInformations == "KO") ? "background-color:#f2dede !important;color:#a94442" : "";
                            var style2 = (myInfos.StateImportantInformations == "NOK") ? "background-color:#febe28 !important;color:#ffffff" : "";
                            if (myInfos.ImportantInfos.Contains("Validate") || myInfos.ImportantInfos.Contains("Create"))
                            {
                                <div class="card bg-success text-white shadow" style="@style;@style1;@style2">
                                    <div class="card-body">
                                        <p style="@style;@style1;@style2">@myInfos.ImportantInfos</p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-lg-6 mb-4">
                        @foreach (Informations myInfos in Model._Informations)
                        {
                            var style = (myInfos.StateImportantInformations == "OK") ? "background-color:#1cc88a !important;color:#ffffff" : "";
                            var style1 = (myInfos.StateImportantInformations == "KO") ? "background-color:#f2dede !important;color:#a94442" : "";
                            var style2 = (myInfos.StateImportantInformations == "NOK") ? "background-color:#febe28 !important;color:#ffffff" : "";
                            if (myInfos.ImportantInfos.Contains("Close"))
                            {
                                <div class="card bg-success text-white shadow" style="@style;@style1;@style2">
                                    <div class="card-body">
                                        <p style="@style;@style1;@style2">@myInfos.ImportantInfos</p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="col-lg-6 mb-4">
                        @foreach (Informations myInfos in Model._Informations)
                        {
                            var style = (myInfos.StateImportantInformations == "OK") ? "background-color:#1cc88a !important;color:#ffffff" : "";
                            var style1 = (myInfos.StateImportantInformations == "KO") ? "background-color:#f2dede !important;color:#a94442" : "";
                            var style2 = (myInfos.StateImportantInformations == "NOK") ? "background-color: #febe28 !important;color:#ffffff" : "";
                            if (myInfos.ImportantInfos.Contains("Manage"))
                            {
                                <div class="card bg-success text-white shadow" style="@style;@style1;@style2">
                                    <div class="card-body">
                                        <p style="@style;@style1;@style2">@myInfos.ImportantInfos</p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (PieChart myPieChart in Model._PieChart)
                    {
                        <h2 class="text-issue">@myPieChart.TitlePieChart</h2>
                    }
                </div>
                <div class="content-canvas">
                    <canvas id="myPieChart"></canvas>
                </div>
                <script>
                    var ctxP = document.getElementById("myPieChart").getContext('2d');
                    var myPieChart = new Chart(ctxP, {
                    type: 'pie',
                    data: {
                        labels: ["@foreach (PieChart myPieChart in Model._PieChart) {
                                    if (myPieChart.StatusByMethodPieChart == "OK") { @myPieChart.StatusByMethodPieChart; }
                                    }", "@foreach (PieChart myPieChart in Model._PieChart) {
                                            if (myPieChart.StatusByMethodPieChart == "KO") { @myPieChart.StatusByMethodPieChart; }
                                    }", "@foreach (PieChart myPieChart in Model._PieChart) {
                                            if (myPieChart.StatusByMethodPieChart == "NOK") { @myPieChart.StatusByMethodPieChart; }
                                    }"],
                        datasets: [{
                        data: [@foreach (PieChart myPieChart in Model._PieChart) {
                                    if (myPieChart.StatusByMethodPieChart == "OK") { @myPieChart.NumberMethodsByStatus; }
                                    }, @foreach (PieChart myPieChart in Model._PieChart) {
                                            if (myPieChart.StatusByMethodPieChart == "KO") { @myPieChart.NumberMethodsByStatus; }
                                    }, @foreach (PieChart myPieChart in Model._PieChart) {
                                            if (myPieChart.StatusByMethodPieChart == "NOK") { @myPieChart.NumberMethodsByStatus; }
                                    }],
                        backgroundColor: ["#1CC88A", "#FF5A5E", "#FEBE28"],
                        hoverBackgroundColor: ["#1CC88A", "#FF5A5E", "#FEBE28"]
                        }]
                    },
                    options: {
                        responsive: true
                    }
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (Issues myIssue in Model._Issues)
                    {
                        <a data-toggle="collapse" href="#issues" class="card-header-link-title">@myIssue.TitleIssue</a>
                    }
                </div>
                <div id="issues" class="panel-collapse collapse">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align:center">#</th>
                                <th scope="col" style="text-align:center">Issue</th>
                                <th scope="col" style="text-align:center">Status</th>
                                <th scope="col" style="text-align:center">Planned</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Issues myIssue in Model._Issues)
                            {
                                var style = (myIssue.StateIssue == "DONE") ? "color:#28a745;font-weight:bold" : "color:#007bff;font-weight:bold";
                                var style1 = (myIssue.StateIssue == "Nothing to report") ? "color:#28a745;font-weight:bold" : "";
                                <tr>
                                    <th scope="row">@myIssue.NumberIssue</th>
                                    <td style="text-align:justify">@myIssue.ExplicationIssue</td>
                                    <td style="@style;@style1">@myIssue.StateIssue</td>
                                    <td>@myIssue.DateOfResolutionIssue</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (Methods myName in Model._Methods)
                    {
                        <a data-toggle="collapse" href="#methods" class="card-header-link-title">@myName.TitleMethod</a>
                    }
                </div>
                <div id="methods" class="panel-collapse collapse">
                    <div class="row">
                        <div class="col-lg-6 mb-6">
                            <div class="card bg-text text-white shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        if(myName.CategoryMethod.Contains("Sellers")){
                                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                                        }
                                    }
                                </div>
                                <div class="card-body-methods">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                                        var style1 = (myName.StateMethod == "NOK") ? @"background-color:#febe28;display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                                        var style2 = (myName.StateMethod == "KO") ? "background-color: #e74a3b" : "";
                                        if (myName.NameMethod.Contains("Info"))
                                        {
                                            <p>@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span></p>
                                        }
                                        if (myName.NameMethod.Contains("Indi"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-6">
                            <div class="card bg-text text-white shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                       if(myName.CategoryMethod.Contains("Offers")){
                                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                                        } 
                                    }
                                </div>
                                <div class="card-body-methods">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                                        var style1 = (myName.StateMethod == "NOK") ? @"background-color:#febe28;display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                                        var style2 = (myName.StateMethod == "KO") ? "background-color: #e74a3b" : "";
                                        if (myName.NameMethod.Contains("ListPaginated"))
                                        {
                                            <p>@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("SubmitOfferPackage"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("OfferPackageSubmissionResult"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-6">
                            <div class="card bg-text text-white shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                       if(myName.CategoryMethod.Contains("Products")){
                                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                                        }
                                    }
                                </div>
                                <div class="card-body-methods">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                                        var style1 = (myName.StateMethod == "NOK") ? @"background-color:#febe28;display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                                        var style2 = (myName.StateMethod == "KO") ? "background-color: #e74a3b" : "";
                                        if (myName.NameMethod.Contains("CategoryTree"))
                                        {
                                            <p>@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("GetProductList"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("ModelList"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("BrandList"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("SubmitProductPackage"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("ProductPackageSubmissionResult"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("GetProductListbyIdentifier"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-6">
                            <div class="card bg-text text-white shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                       if(myName.CategoryMethod.Contains("Orders")){
                                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                                        } 
                                    }
                                </div>
                                <div class="card-body-methods">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                                        var style1 = (myName.StateMethod == "NOK") ? @"background-color:#febe28;display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                                        var style2 = (myName.StateMethod == "KO") ? "background-color: #e74a3b" : "";
                                        if (myName.NameMethod.Contains("GetOrderList"))
                                        {
                                            <p>@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Global"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("ValidateOrderList"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Refund"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-6">
                            <div class="card bg-text text-white shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                       if(myName.CategoryMethod.Contains("Fulfillment")){
                                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                                        }
                                    }
                                </div>
                                <div class="card-body-methods">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                                        var style1 = (myName.StateMethod == "NOK") ? @"background-color:#febe28;display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                                        var style2 = (myName.StateMethod == "KO") ? "background-color: #e74a3b" : "";
                                        if (myName.NameMethod.Contains("SubmitFulfilmentSupplyOrder"))
                                        {
                                            <p>@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("OnDemand"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod == ("GetFulfilmentSupplyOrderReportList"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("DeliveryDocument"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod == ("GetFulfilmentSupplyOrder"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("FulfilmentActivation"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod == ("GetFulfilmentActivation"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("ToSupply"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Action"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("CreateExternal"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("OrderStatus"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("StockList"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Parcel"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-6">
                            <div class="card bg-text text-white shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                       if(myName.CategoryMethod.Contains("Discussions")){
                                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                                        }
                                    }
                                </div>
                                <div class="card-body-methods">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                                        var style1 = (myName.StateMethod == "NOK") ? @"background-color:#febe28;display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                                        var style2 = (myName.StateMethod == "KO") ? "background-color: #e74a3b" : "";
                                        if (myName.NameMethod.Contains("ClaimList"))
                                        {
                                            <p>@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("OfferQuestionList"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("OrderQuestionList"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Close"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Mail"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2">@myName.StateMethod</span> </p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (CalendarsTitle myCalTitle in Model._CalendarsTitle)
                    {
                        <a data-toggle="collapse" href="#calendars" class="card-header-link-title">@myCalTitle.CalendarsCardTitle</a>
                    }
                </div>
                <div id="calendars" class="panel-collapse collapse">
                    <div class="col-lg-6 mb-6 calM1">
                        <div class="card bg-text text-white shadow">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                @foreach (CalendarM1 myCalM1 in Model._CalendarM1)
                                {
                                    <h2 class="text-issue">@myCalM1.MonthCalM1</h2>
                                }
                            </div>
                            <table class="table table-striped calM1M2Table">
                                <colgroup>
                                    <col span="5" width="50" />
                                </colgroup>
                                <div class="text-white shadow">
                                    <tbody>
                                        <div>
                                            @foreach (CalendarM1 myCalM1 in Model._CalendarM1)
                                            {
                                                var styleSupEmptyM1 = (myCalM1.DayOfTheWeekDayStatusOfTheDay1M1 == "") ? "margin:0;padding:0;display:none" : "";
                                                var styleDay1M1ON = (myCalM1.DayOfTheWeekDayStatusOfTheDay1M1 == "ON") ? "color:#3c763d;font-weight:bold;text-align:center" : "text-align:center";
                                                var styleDay1M1OFF = (myCalM1.DayOfTheWeekDayStatusOfTheDay1M1 == "OFF") ? "color:#e74a3b;font-weight:bold;text-align:center" : "text-align:center";
                                                var styleDay2M1ON = (myCalM1.DayOfTheWeekDayStatusOfTheDay2M1 == "ON") ? "color:#3c763d;font-weight:bold;text-align:center" : "text-align:center";
                                                var styleDay2M1OFF = (myCalM1.DayOfTheWeekDayStatusOfTheDay2M1 == "OFF") ? "color:#e74a3b;font-weight:bold;text-align:center" : "text-align:center";                                                
                                                var styleDay3M1ON = (myCalM1.DayOfTheWeekDayStatusOfTheDay3M1 == "ON") ? "color:#3c763d;font-weight:bold;text-align:center" : "text-align:center";
                                                var styleDay3M1OFF = (myCalM1.DayOfTheWeekDayStatusOfTheDay3M1 == "OFF") ? "color:#e74a3b;font-weight:bold;text-align:center" : "text-align:center";
                                                var styleDay4M1ON = (myCalM1.DayOfTheWeekDayStatusOfTheDay4M1 == "ON") ? "color:#3c763d;font-weight:bold;text-align:center" : "text-align:center";
                                                var styleDay4M1OFF = (myCalM1.DayOfTheWeekDayStatusOfTheDay4M1 == "OFF") ? "color:#e74a3b;font-weight:bold;text-align:center" : "text-align:center";
                                                var styleDay5M1ON = (myCalM1.DayOfTheWeekDayStatusOfTheDay5M1 == "ON") ? "color:#3c763d;font-weight:bold;text-align:center" : "text-align:center";
                                                var styleDay5M1OFF = (myCalM1.DayOfTheWeekDayStatusOfTheDay5M1 == "OFF") ? "color:#e74a3b;font-weight:bold;text-align:center" : "text-align:center";

                                                <tr class="deleteHeightTR">
                                                    <td style="@styleSupEmptyM1;@styleDay1M1ON;@styleDay1M1OFF">@myCalM1.DayOfTheWeekDayStatusOfTheDay1M1</td>
                                                    <td style="@styleSupEmptyM1;@styleDay2M1ON;@styleDay2M1OFF">@myCalM1.DayOfTheWeekDayStatusOfTheDay2M1</td>
                                                    <td style="@styleSupEmptyM1;@styleDay3M1ON;@styleDay3M1OFF">@myCalM1.DayOfTheWeekDayStatusOfTheDay3M1</td>
                                                    <td style="@styleSupEmptyM1;@styleDay4M1ON;@styleDay4M1OFF">@myCalM1.DayOfTheWeekDayStatusOfTheDay4M1</td>
                                                    <td style="@styleSupEmptyM1;@styleDay5M1ON;@styleDay5M1OFF">@myCalM1.DayOfTheWeekDayStatusOfTheDay5M1</td>
                                                </tr>
                                            }                                             
                                        </div>
                                    </tbody>
                                </div>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-6 calM2">
                        <div class="card bg-text text-white shadow">
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                @foreach (CalendarM2 myCalM2 in Model._CalendarM2)
                                {
                                    <h2 class="text-issue">@myCalM2.MonthCalM2</h2>
                                }
                            </div>
                            <table class="table table-striped calM1M2Table">
                                <colgroup>
                                    <col span="5" width="50" />
                                </colgroup>
                                <div class="text-white shadow">
                                    <tbody>
                                        <div>
                                            @foreach (CalendarM2 myCalM2 in Model._CalendarM2)
                                            {
                                                var styleSupEmptyM2 = (myCalM2.DayOfTheWeekDayStatusOfTheDay1M2 == "") ? "margin:0;padding:0;display:none" : "";
                                                var styleDay1M2ON = (myCalM2.DayOfTheWeekDayStatusOfTheDay1M2 == "ON") ? "color:#3c763d;font-weight:bold;text-align:center" : "text-align:center";
                                                var styleDay1M2OFF = (myCalM2.DayOfTheWeekDayStatusOfTheDay1M2 == "OFF") ? "color:#e74a3b;font-weight:bold;text-align:center" : "text-align:center";
                                                var styleDay2M2ON = (myCalM2.DayOfTheWeekDayStatusOfTheDay2M2 == "ON") ? "color:#3c763d;font-weight:bold;text-align:center" : "text-align:center";
                                                var styleDay2M2OFF = (myCalM2.DayOfTheWeekDayStatusOfTheDay2M2 == "OFF") ? "color:#e74a3b;font-weight:bold;text-align:center" : "text-align:center";                                                
                                                var styleDay3M2ON = (myCalM2.DayOfTheWeekDayStatusOfTheDay3M2 == "ON") ? "color:#3c763d;font-weight:bold;text-align:center" : "text-align:center";
                                                var styleDay3M2OFF = (myCalM2.DayOfTheWeekDayStatusOfTheDay3M2 == "OFF") ? "color:#e74a3b;font-weight:bold;text-align:center" : "text-align:center";
                                                var styleDay4M2ON = (myCalM2.DayOfTheWeekDayStatusOfTheDay4M2 == "ON") ? "color:#3c763d;font-weight:bold;text-align:center" : "text-align:center";
                                                var styleDay4M2OFF = (myCalM2.DayOfTheWeekDayStatusOfTheDay4M2 == "OFF") ? "color:#e74a3b;font-weight:bold;text-align:center" : "text-align:center";
                                                var styleDay5M2ON = (myCalM2.DayOfTheWeekDayStatusOfTheDay5M2 == "ON") ? "color:#3c763d;font-weight:bold;text-align:center" : "text-align:center";
                                                var styleDay5M2OFF = (myCalM2.DayOfTheWeekDayStatusOfTheDay5M2 == "OFF") ? "color:#e74a3b;font-weight:bold;text-align:center" : "text-align:center";

                                                <tr class="deleteHeightTR">
                                                    <td style="@styleSupEmptyM2;@styleDay1M2ON;@styleDay1M2OFF">@myCalM2.DayOfTheWeekDayStatusOfTheDay1M2</td>
                                                    <td style="@styleSupEmptyM2;@styleDay2M2ON;@styleDay2M2OFF">@myCalM2.DayOfTheWeekDayStatusOfTheDay2M2</td>
                                                    <td style="@styleSupEmptyM2;@styleDay3M2ON;@styleDay3M2OFF">@myCalM2.DayOfTheWeekDayStatusOfTheDay3M2</td>
                                                    <td style="@styleSupEmptyM2;@styleDay4M2ON;@styleDay4M2OFF">@myCalM2.DayOfTheWeekDayStatusOfTheDay4M2</td>
                                                    <td style="@styleSupEmptyM2;@styleDay5M2ON;@styleDay5M2OFF">@myCalM2.DayOfTheWeekDayStatusOfTheDay5M2</td>
                                                </tr>
                                            }                                             
                                        </div>
                                    </tbody>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div><a id="cRetour" title="Back to top" class="cInvisible" href="#"></a></div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  window.onscroll = function(ev) {
    document.getElementById("cRetour").className = (window.pageYOffset > 100) ? "cVisible" : "cInvisible";
  };
});
</script>