@model APIDashboard.Models.DashBoardProd
@{
    ViewData["Title"] = "Production";
}

<environment include="Development">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</environment>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<div class="container-fluid">
	<div class="row">
		<div class="col-xl-9 col-lg-12">
			<div class="card shadow mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (Informations myInfos in Model._Informations)
                    {
					    <h2 class="text-issue">@myInfos.TitleImportantInformations</h2>
                    }
                    <div class="col-xs-5 col-md-7 col-lg-2 col-xl-2 navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <button id="myBtnII" class="buttonExclamationPopup"><i class='fas fa-exclamation-circle'></i></button>
                    </div>
                    <div id="myPopupII" class="popupII">
                        <div class="popup-content-II">
                            <div class="popup-title-II">
                                <span class="closeII">&times;</span>
                                <h2 class="popup-title-h2-II">Legends</h2>
                            </div>
                            <div class="contentII">
                                <p class="content-h2-II">You can find below the explanation for each card color:</p>
                                
                                        <p class="content-ul-li-II"><img width="42" src="~/img/ok.png"> This functionality has been resolved.</p>
                                   
                                        <p class="content-ul-li-II"><img width="42" src="~/img/nok.png"> This functionality has been identified and it is under resolution by one of our team.</p>
                                   
                                        <p class="content-ul-li-II"><img width="42" src="~/img/ko.png"> This functionality is no longer usable. Our team are mobilized to resolved it.</p>
                                  
                            </div>
                            <div class="BtnCenterII"><button type="button" class="btn colorBackGrdBtnII" name="closeII">Close</button></div>
                        </div>
                    </div>
				</div>
				<div class="row">
					<div class="col-lg-12 mb-4">
                        @foreach (Informations myInfos in Model._Informations)
                        {
                            var style = (myInfos.StateImportantInformations == "OK") ? "background-color:#1cc88a!important;color:#ffffff;font-size:16px!important;font-family:'Montserrat-Light',sans-serif" : "";
                            var style1 = (myInfos.StateImportantInformations == "KO") ? "background-color:#f2dede!important;color:#a94442;font-size:16px!important;font-family:'Montserrat-Light',sans-serif" : "";
                            var style2 = (myInfos.StateImportantInformations == "NOK") ? "background-color:#febe28!important;color:#ffffff;font-size:16px!important;font-family:'Montserrat-Light',sans-serif" : "";
                            if (myInfos.ImportantInfos.Contains("API"))
                            {
						<div class="card bg-success text-white shadow" style="@style;@style1;@style2">
							<div class="card-body">
								<p style="@style;@style1;@style2">@myInfos.ImportantInfos</p>
							</div>
						</div>
                            }
                        }
					</div>
					<div class="col-lg-6 mb-4">
                        @foreach (Informations myInfos in Model._Informations)
                        {
                            var style = (myInfos.StateImportantInformations == "OK") ? "background-color:#1cc88a!important;color:#ffffff;font-size:16px!important;font-family:'Montserrat-Light',sans-serif" : "";
                            var style1 = (myInfos.StateImportantInformations == "KO") ? "background-color:#f2dede!important;color:#a94442;font-size:16px!important;font-family:'Montserrat-Light',sans-serif" : "";
                            var style2 = (myInfos.StateImportantInformations == "NOK") ? "background-color:#febe28!important;color:#ffffff;font-size:16px!important;font-family:'Montserrat-Light',sans-serif" : "";
                            if (myInfos.ImportantInfos.Contains("Get") || myInfos.ImportantInfos.Contains("Submit"))
                            {
						<div class="card bg-success text-white shadow" style="@style;@style1;@style2">
							<div class="card-body">
								<p style="@style;@style1;@style2">@myInfos.ImportantInfos</p>
							</div>
						</div>
                            }
                        }
					</div>
					<div class="col-lg-6 mb-4">
                        @foreach (Informations myInfos in Model._Informations)
                        {
                            var style = (myInfos.StateImportantInformations == "OK") ? "background-color:#1cc88a!important;color:#ffffff;font-size:16px!important;font-family:'Montserrat-Light',sans-serif" : "";
                            var style1 = (myInfos.StateImportantInformations == "KO") ? "background-color:#f2dede!important;color:#a94442;font-size:16px!important;font-family:'Montserrat-Light',sans-serif" : "";
                            var style2 = (myInfos.StateImportantInformations == "NOK") ? "background-color:#febe28!important;color:#ffffff;font-size:16px!important;font-family:'Montserrat-Light',sans-serif" : "";
                            if (myInfos.ImportantInfos.Contains("Validate") || myInfos.ImportantInfos.Contains("Create"))
                            {
						<div class="card bg-success text-white shadow" style="@style;@style1;@style2">
							<div class="card-body">
								<p style="@style;@style1;@style2">@myInfos.ImportantInfos</p>
							</div>
						</div>
                            }
                        }
					</div>
					<div class="col-lg-6 mb-4">
                        @foreach (Informations myInfos in Model._Informations)
                        {
                            var style = (myInfos.StateImportantInformations == "OK") ? "background-color:#1cc88a!important;color:#ffffff;font-size:16px!important;font-family:'Montserrat-Light',sans-serif" : "";
                            var style1 = (myInfos.StateImportantInformations == "KO") ? "background-color:#f2dede!important;color:#a94442;font-size:16px!important;font-family:'Montserrat-Light',sans-serif" : "";
                            var style2 = (myInfos.StateImportantInformations == "NOK") ? "background-color:#febe28!important;color:#ffffff;font-size:16px!important;font-family:'Montserrat-Light',sans-serif" : "";
                            if (myInfos.ImportantInfos.Contains("Close"))
                            {
						<div class="card bg-success text-white shadow" style="@style;@style1;@style2">
							<div class="card-body">
								<p style="@style;@style1;@style2">@myInfos.ImportantInfos</p>
							</div>
						</div>
                            }
                        }
					</div>
					<div class="col-lg-6 mb-4">
                        @foreach (Informations myInfos in Model._Informations)
                        {
                            var style = (myInfos.StateImportantInformations == "OK") ? "background-color:#1cc88a!important;color:#ffffff;font-size:16px!important;font-family:'Montserrat-Light',sans-serif" : "";
                            var style1 = (myInfos.StateImportantInformations == "KO") ? "background-color:#f2dede!important;color:#a94442;font-size:16px!important;font-family:'Montserrat-Light',sans-serif" : "";
                            var style2 = (myInfos.StateImportantInformations == "NOK") ? "background-color:#febe28!important;color:#ffffff;font-size:16px!important;font-family:'Montserrat-Light',sans-serif" : "";
                            if (myInfos.ImportantInfos.Contains("Manage"))
                            {
						<div class="card bg-success text-white shadow" style="@style;@style1;@style2">
							<div class="card-body">
								<p style="@style;@style1;@style2">@myInfos.ImportantInfos</p>
							</div>
						</div>
                            }
                        }
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-12">
			<div class="card shadow mb-4">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (PieChart myPieChart in Model._PieChart)
                    {
					    <h2 class="text-issue">@myPieChart.TitlePieChart</h2>
                    }
				</div>
				<div class="content-canvas">
                    <canvas id="myPieChart"></canvas>
                </div>
                <script>
                    var ctxP = document.getElementById("myPieChart").getContext('2d');
                    var myPieChart = new Chart(ctxP, {
                    type: 'pie',
                    data: {
                        labels: ["@foreach (PieChart myPieChart in Model._PieChart) {
                                                        if (myPieChart.StatusByMethodPieChart == "OK") { @myPieChart.StatusByMethodPieChart; }
                                                    }", "@foreach (PieChart myPieChart in Model._PieChart) {
                                                        if (myPieChart.StatusByMethodPieChart == "KO") { @myPieChart.StatusByMethodPieChart; }
                                                    }", "@foreach (PieChart myPieChart in Model._PieChart) {
                                                        if (myPieChart.StatusByMethodPieChart == "NOK") { @myPieChart.StatusByMethodPieChart; }
                                                    }"],
                        datasets: [{
                        data: [@foreach (PieChart myPieChart in Model._PieChart) {
                                                        if (myPieChart.StatusByMethodPieChart == "OK") { @myPieChart.NumberMethodsByStatus; }
                                                    },
                                                    @foreach (PieChart myPieChart in Model._PieChart) {
                                                        if (myPieChart.StatusByMethodPieChart == "KO") { @myPieChart.NumberMethodsByStatus; }
                                                    },
                                                    @foreach (PieChart myPieChart in Model._PieChart) {
                                                        if (myPieChart.StatusByMethodPieChart == "NOK") { @myPieChart.NumberMethodsByStatus; }
                                                    }],
                                                backgroundColor: ["#1CC88A", "#FF5A5E", "#FEBE28"],
                                                hoverBackgroundColor: ["#1CC88A", "#FF5A5E", "#FEBE28"]
                        }]
                    },
                    options: {
                        responsive: true
                    }
                    });
                </script>
			</div>
		</div>
	</div>
	<div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (Issues myIssue in Model._Issues)
                    {
                        <a data-toggle="collapse" href="#issues" class="card-header-link-title">@myIssue.TitleIssue</a>
                    }
                </div>
                <div id="issues" class="panel-collapse collapse">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="issue-font" scope="col">#</th>
                                <th class="issue-font" scope="col">Issue</th>
                                <th class="issue-font-w" scope="col">Status</th>
                                <th class="issue-font" scope="col">Planned</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Issues myIssue in Model._Issues)
                            {
                                var style = (myIssue.StateIssue == "DONE") ? "color:#28a745;font-weight:bold;text-align:center;font-size:14px!important;font-family: 'Montserrat-Light', sans-serif" : "color:#007bff;font-weight:bold;text-align:center;font-size:14px!important;font-family: 'Montserrat-Light', sans-serif";
                                var style1 = (myIssue.StateIssue == "Nothing to report") ? "color:#28a745;font-weight:bold;text-align:center;font-size:14px!important;font-family: 'Montserrat-Light', sans-serif" : "";
                                <tr>
                                    <th class="issue-font-content" scope="row">@myIssue.NumberIssue</th>
                                    <td class="issue-font-content-j">@myIssue.ExplicationIssue</td>
                                    <td style="@style;@style1">@myIssue.StateIssue</td>
                                    <td class="issue-font-content">@myIssue.DateOfResolutionIssue</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
	<div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (Methods myName in Model._Methods)
                    {
                        <a data-toggle="collapse" href="#methods" class="card-header-link-title">@myName.TitleMethod</a>
                    }
                    <div class="col-xs-5 col-md-7 col-lg-2 col-xl-2 navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <button id="myBtnSBM" class="buttonExclamationPopup"><i class='fas fa-exclamation-circle'></i></button>
                    </div>
                    <div id="myPopupSBM" class="popupSBM">
                        <div class="popup-content-SBM">
                            <div class="popup-title-SBM">
                                <span class="closeSBM">&times;</span>
                                <h2 class="popup-title-h2-SBM">Status</h2>
                            </div>
                            <div class="contentSBM">
                                <p class="content-h2-SBM">Each API method will be assigned to a different status like explained below:</p>
                                <ul>
                                    <li>
                                        <p class="content-ul-li-SBM"><b>OK:</b> All informations can be get by our API method and informations are available from your seller's zone.</p>
                                    </li>
                                    <li>
                                        <p class="content-ul-li-SBM"><b>NOK:</b> Some issue has been detected like a non update of offers in your Products catalog page of your seller's zone but informations can be get from API method.</p>
                                    </li>
                                    <li>
                                        <p class="content-ul-li-SBM"><b>KO:</b> An issue has been detected about this API method and our team are mobilized to resolved this problem. Some API method are down. No informations are reported.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="BtnCenterSBM"><button type="button" class="btn colorBackGrdBtnSBM" name="closeSBM">Close</button></div>
                        </div>
                    </div>
                </div>
                <div id="methods" class="panel-collapse collapse">
                    <div class="row">
                        <div class="col-lg-6 mb-6">
                            <div class="card bg-text text-white shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                       if(myName.CategoryMethod.Contains("Sellers")){
                                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                                        }
                                    }
                                </div>
                                <div class="card-body-methods">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                                        var style1 = (myName.StateMethod == "NOK") ? @"background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b" : "";
                                        if (myName.NameMethod.Contains("Info"))
                                        {
                                            <p class="card-body-methods-p-font">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span></p>
                                        }
                                        if (myName.NameMethod.Contains("Indi"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-6">
                            <div class="card bg-text text-white shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                       if(myName.CategoryMethod.Contains("Offers")){
                                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                                        }
                                    }
                                </div>
                                <div class="card-body-methods">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                                        var style1 = (myName.StateMethod == "NOK") ? @"background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b;" : "";
                                        if (myName.NameMethod.Contains("ListPaginated"))
                                        {
                                            <p class="card-body-methods-p-font">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("SubmitOfferPackage"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("OfferPackageSubmissionResult"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Deals"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-6">
                            <div class="card bg-text text-white shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                       if(myName.CategoryMethod.Contains("Products")){
                                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                                        }
                                    }
                                </div>
                                <div class="card-body-methods">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                                        var style1 = (myName.StateMethod == "NOK") ? @"background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b" : "";
                                        if (myName.NameMethod.Contains("CategoryTree"))
                                        {
                                            <p class="card-body-methods-p-font">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("GetProductList"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("ModelList"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("BrandList"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("SubmitProductPackage"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("ProductPackageSubmissionResult"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("GetProductListbyIdentifier"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-6">
                            <div class="card bg-text text-white shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                       if(myName.CategoryMethod.Contains("Orders")){
                                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                                        }
                                    }
                                </div>
                                <div class="card-body-methods">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                                        var style1 = (myName.StateMethod == "NOK") ? @"background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b" : "";
                                        if (myName.NameMethod.Contains("GetOrderList"))
                                        {
                                            <p class="card-body-methods-p-font">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Global"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("ValidateOrderList"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Refund"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-6">
                            <div class="card bg-text text-white shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                       if(myName.CategoryMethod.Contains("Fulfilment")){
                                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                                        }
                                    }
                                </div>
                                <div class="card-body-methods">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                                        var style1 = (myName.StateMethod == "NOK") ? @"background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b;" : "";
                                        if (myName.NameMethod.Contains("SubmitFulfilmentSupplyOrder"))
                                        {
                                            <p class="card-body-methods-p-font">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("OnDemand"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod == ("GetFulfilmentSupplyOrderReportList"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("DeliveryDocument"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod == ("GetFulfilmentSupplyOrder"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("FulfilmentActivation"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod == ("GetFulfilmentActivation"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("ToSupply"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Action"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("CreateExternal"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("OrderStatus"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("StockList"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Parcel"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-6">
                            <div class="card bg-text text-white shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                       if(myName.CategoryMethod.Contains("Discussions")){
                                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                                        }
                                    }
                                </div>
                                <div class="card-body-methods">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                                        var style1 = (myName.StateMethod == "NOK") ? @"background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b;" : "";
                                        if (myName.NameMethod.Contains("ClaimList"))
                                        {
                                            <p class="card-body-methods-p-font">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("OfferQuestionList"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("OrderQuestionList"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Close"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Mail"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button onclick="topFunction()" id="myBtn" title="Back to top"><i class="fas fa-arrow-up"></i></button>

<script>
    popupII = document.getElementById("myPopupII");
    var btnII = document.getElementById("myBtnII");
    var spanII = document.getElementsByClassName("closeII")[0];
    btnII.onclick = function() {
        popupII.style.display = "block";
    }
    spanII.onclick = function() {
        popupII.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == popupII) {
            popupII.style.display = "none";
        }
    }
    $(popupII).find("button[name=closeII]").on("click", function() {
		if ($(".formElementError").is(':visible')) {
			$(".formElementError").remove();
		}
		$(popupII).hide();
	});
</script>
<script>
    popupSBM = document.getElementById("myPopupSBM");
    var btnSBM = document.getElementById("myBtnSBM");
    var spanSBM = document.getElementsByClassName("closeSBM")[0];
    btnSBM.onclick = function() {
        popupSBM.style.display = "block";
    }
    spanSBM.onclick = function() {
        popupSBM.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == popupSBM) {
            popupSBM.style.display = "none";
        }
    }
    $(popupSBM).find("button[name=closeSBM]").on("click", function() {
		if ($(".formElementError").is(':visible')) {
			$(".formElementError").remove();
		}
		$(popupSBM).hide();
	});
</script>
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
   window.onscroll = function() {scrollFunction()};
   function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
         document.getElementById("myBtn").style.display = "block";
      } else {
         document.getElementById("myBtn").style.display = "none";
      }
   }
   function topFunction() {
      $('html,body').animate({ scrollTop: 0 }, 1000);
   }
</script>