<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <a data-toggle="collapse" href="#V1" class="card-header-link-title">V1</a>
</div>
<div id="V1" class="panel-collapse collapse">
    <div class="row">
        <div class="col-lg-6 mb-6">
            <div class="card bg-text text-white shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (Methods myName in Model._Methods)
                    {
                        if(myName.CategoryMethod.Contains("Seller")){
                            <h2 class="text-issue">@myName.CategoryMethod</h2>
                        }
                    }
                </div>
                <div class="card-body-methods">
                    @foreach (Methods myName in Model._Methods)
                    {
                        var styleType = (myName.TypeMethod == "GET") ? "color: #fff;background-color: #1cc88a;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" : "color: #fff;background-color: #FEBE28;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;";
                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                        var style1 = (myName.StateMethod == "NOK") ? "background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b" : "";
                        if (myName.TypeMethod.Contains("GET"))
                        {
                            if (myName.NameMethod.Contains("indi"))
                            {
                                <p class="card-body-methods-p-font"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span></p>
                            }
                            if (myName.NameMethod.Contains("address"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("delivery"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Retrieves seller information"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-6">
            <div class="card bg-text text-white shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (Methods myName in Model._Methods)
                    {
                        if(myName.CategoryMethod.Contains("Offer")){
                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                        }
                    }
                </div>
                <div class="card-body-methods">
                    @foreach (Methods myName in Model._Methods)
                    {
                        var styleType = (myName.TypeMethod == "GET") ? "color: #fff;background-color: #1cc88a;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" : "color: #fff;background-color: #FEBE28;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;";
                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                        var style1 = (myName.StateMethod == "NOK") ? "background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b;" : "";
                        if (myName.TypeMethod.Contains("GET") || myName.TypeMethod.Contains("POST"))
                        {
                            if (myName.NameMethod.Contains("Gets competing offers changes"))
                            {
                                <p class="card-body-methods-p-font"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Gets competing offers") && !myName.NameMethod.Contains("Gets competing offers changes"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Searches offers by criteria"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Gets offer package logs"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Submits an offer package"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Searches seller deals by criteria"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-6">
            <div class="card bg-text text-white shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (Methods myName in Model._Methods)
                    {
                        if(myName.CategoryMethod.Contains("Product")){
                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                        }
                    }
                </div>
                <div class="card-body-methods">
                    @foreach (Methods myName in Model._Methods)
                    {
                        var styleType = (myName.TypeMethod == "GET") ? "color: #fff;background-color: #1cc88a;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" : "color: #fff;background-color: #FEBE28;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;";
                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                        var style1 = (myName.StateMethod == "NOK") ? "background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b" : "";
                        if (myName.TypeMethod.Contains("GET") || myName.TypeMethod.Contains("POST"))
                        {
                            if (myName.NameMethod.Contains("Gets the full tree of categories"))
                            {
                                <p class="card-body-methods-p-font"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Gets a list of models filtered by category code"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Searches products by criteria"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Gets information from a product package"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Submits a product package"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-6">
            <div class="card bg-text text-white shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (Methods myName in Model._Methods)
                    {
                        if(myName.CategoryMethod.Contains("Order")){
                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                        }
                    }
                </div>
                <div class="card-body-methods">
                    @foreach (Methods myName in Model._Methods)
                    {
                        var styleType = (myName.TypeMethod == "GET") ? "color: #fff;background-color: #1cc88a;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" : "color: #fff;background-color: #FEBE28;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;";
                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                        var style1 = (myName.StateMethod == "NOK") ? "background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b" : "";
                        if (myName.TypeMethod.Contains("GET") || myName.TypeMethod.Contains("POST"))
                        {
                            if (myName.NameMethod.Contains("Creates a commercial gesture on a order"))
                            {
                                <p class="card-body-methods-p-font"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Gets if an order is eligible to commercial gesture"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Gets informations to commercial gestures"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Searches orders by criteria"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Validates an order"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-6">
            <div class="card bg-text text-white shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (Methods myName in Model._Methods)
                    {
                        if(myName.CategoryMethod.Contains("Financial")){
                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                        }
                    }
                </div>
                <div class="card-body-methods">
                    @foreach (Methods myName in Model._Methods)
                    {
                        var styleType = (myName.TypeMethod == "GET") ? "color: #fff;background-color: #1cc88a;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" : "color: #fff;background-color: #FEBE28;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;";
                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                        var style1 = (myName.StateMethod == "NOK") ? "background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b;" : "";
                        if (myName.TypeMethod.Contains("GET") || myName.TypeMethod.Contains("POST"))
                        {
                            if (myName.NameMethod.Contains("Count invoice details"))
                            {
                                <p class="card-body-methods-p-font"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Download an invoice"))
                            {
                                <p class="card-body-methods-p2"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod == ("Download invoices"))
                            {
                                <p class="card-body-methods-p3"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Retrieve invoice details"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod == ("Count payment operations"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Count payments"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod == ("Retrieve payment operations"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Retrieve payments"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <a data-toggle="collapse" href="#V2" class="card-header-link-title">V2</a>
</div>
<div id="V2" class="panel-collapse collapse">
    <div class="row">
        <div class="col-lg-6 mb-6">
            <div class="card bg-text text-white shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (Methods myName in Model._Methods)
                    {
                        if(myName.CategoryMethod.Contains("Seller")){
                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                        }
                    }
                </div>
                <div class="card-body-methods">
                    @foreach (Methods myName in Model._Methods)
                    {
                        var styleType = (myName.TypeMethod == "GET") ? "color: #fff;background-color: #1cc88a;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" : "color: #fff;background-color: #FEBE28;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;";
                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                        var style1 = (myName.StateMethod == "NOK") ? "background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b" : "";
                        if (myName.TypeMethod.Contains("GET"))
                        {
                            if (myName.NameMethod.Contains("indi"))
                            {
                                <p class="card-body-methods-p-font"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span></p>
                            }
                            if (myName.NameMethod.Contains("address"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("delivery"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Retrieves seller information"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-6">
            <div class="card bg-text text-white shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (Methods myName in Model._Methods)
                    {
                        if(myName.CategoryMethod.Contains("Offer")){
                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                        }
                    }
                </div>
                <div class="card-body-methods">
                    @foreach (Methods myName in Model._Methods)
                    {
                        var styleType = (myName.TypeMethod == "GET") ? "color: #fff;background-color: #1cc88a;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" : "color: #fff;background-color: #FEBE28;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;";
                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                        var style1 = (myName.StateMethod == "NOK") ? "background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b;" : "";
                        if (myName.TypeMethod.Contains("GET") || myName.TypeMethod.Contains("POST"))
                        {
                            if (myName.NameMethod.Contains("Gets competing offers changes"))
                            {
                                <p class="card-body-methods-p-font"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Gets competing offers") && !myName.NameMethod.Contains("Gets competing offers changes"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Searches offers by criteria"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Gets offer package logs"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Submits an offer package"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Searches seller deals by criteria"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-6">
            <div class="card bg-text text-white shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (Methods myName in Model._Methods)
                    {
                        if(myName.CategoryMethod.Contains("Product")){
                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                        }
                    }
                </div>
                <div class="card-body-methods">
                    @foreach (Methods myName in Model._Methods)
                    {
                        var styleType = (myName.TypeMethod == "GET") ? "color: #fff;background-color: #1cc88a;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" : "color: #fff;background-color: #FEBE28;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;";
                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                        var style1 = (myName.StateMethod == "NOK") ? "background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b" : "";
                        if (myName.TypeMethod.Contains("GET") || myName.TypeMethod.Contains("POST"))
                        {
                            if (myName.NameMethod.Contains("Gets the full tree of categories"))
                            {
                                <p class="card-body-methods-p-font"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Gets a list of models filtered by category code"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Searches products by criteria"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Gets information from a product package"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Submits a product package"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-6">
            <div class="card bg-text text-white shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (Methods myName in Model._Methods)
                    {
                        if(myName.CategoryMethod.Contains("Order")){
                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                        }
                    }
                </div>
                <div class="card-body-methods">
                    @foreach (Methods myName in Model._Methods)
                    {
                        var styleType = (myName.TypeMethod == "GET") ? "color: #fff;background-color: #1cc88a;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" : "color: #fff;background-color: #FEBE28;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;";
                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                        var style1 = (myName.StateMethod == "NOK") ? "background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b" : "";
                        if (myName.TypeMethod.Contains("GET") || myName.TypeMethod.Contains("POST"))
                        {
                            if (myName.NameMethod.Contains("Creates a commercial gesture on a order"))
                            {
                                <p class="card-body-methods-p-font"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Gets if an order is eligible to commercial gesture"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Gets informations to commercial gestures"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Searches orders by criteria"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Validates an order"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-6">
            <div class="card bg-text text-white shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (Methods myName in Model._Methods)
                    {
                        if(myName.CategoryMethod.Contains("Financial")){
                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                        }
                    }
                </div>
                <div class="card-body-methods">
                    @foreach (Methods myName in Model._Methods)
                    {
                        var styleType = (myName.TypeMethod == "GET") ? "color: #fff;background-color: #1cc88a;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" : "color: #fff;background-color: #FEBE28;padding: 10px 10px;display: inline-block;font-size: 20px;font-weight: 700;line-height: 1;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: 0.35rem;transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;";
                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                        var style1 = (myName.StateMethod == "NOK") ? "background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b;" : "";
                        if (myName.TypeMethod.Contains("GET") || myName.TypeMethod.Contains("POST"))
                        {
                            if (myName.NameMethod.Contains("Count invoice details"))
                            {
                                <p class="card-body-methods-p-font"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Download an invoice"))
                            {
                                <p class="card-body-methods-p2"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod == ("Download invoices"))
                            {
                                <p class="card-body-methods-p3"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Retrieve invoice details"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod == ("Count payment operations"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Count payments"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod == ("Retrieve payment operations"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                            if (myName.NameMethod.Contains("Retrieve payments"))
                            {
                                <p class="card-body-methods-p"><span style="@styleType">@myName.TypeMethod</span> @myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>