@model APIDashboard.Models.DashBoardProdREST
@{
    ViewData["Title"] = "Production";
}

<environment include="Development">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/apidashboard.css" />
</environment>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<partial name="_Header/_HeaderAPIREST" />

<div class="container-fluid">
	<partial name="_ALLAPI/_ImportantInformationsCanvas" />
	<partial name="_ALLAPI/_APIIssues" />
	<div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @foreach (Methods myName in Model._Methods)
                    {
                        <a data-toggle="collapse" href="#methods" class="card-header-link-title">@myName.TitleMethod</a>
                    }
                    <partial name="_Popup/_PopupSBM" />
                </div>
                <div id="methods" class="panel-collapse collapse">
                    <div class="row">
                        <div class="col-lg-6 mb-6">
                            <div class="card bg-text text-white shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        if(myName.CategoryMethod.Contains("Seller")){
                                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                                        }
                                    }
                                </div>
                                <div class="card-body-methods">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                                        var style1 = (myName.StateMethod == "NOK") ? "background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b" : "";
                                        if (myName.NameMethod.Contains("indi"))
                                        {
                                            <p class="card-body-methods-p-font">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span></p>
                                        }
                                        if (myName.NameMethod.Contains("address"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("delivery"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Retrieves seller information"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-6">
                            <div class="card bg-text text-white shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                       if(myName.CategoryMethod.Contains("Offer")){
                                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                                        }
                                    }
                                </div>
                                <div class="card-body-methods">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                                        var style1 = (myName.StateMethod == "NOK") ? "background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b;" : "";
                                        if (myName.NameMethod.Contains("Gets competing offers changes"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Gets competing offers") && !myName.NameMethod.Contains("Gets competing offers changes"))
                                        {
                                            <p class="card-body-methods-p1">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Searches offers by criteria"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Gets offer package logs"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Submits an offer package"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Searches seller deals by criteria"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-6">
                            <div class="card bg-text text-white shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                       if(myName.CategoryMethod.Contains("Product")){
                                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                                        }
                                    }
                                </div>
                                <div class="card-body-methods">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                                        var style1 = (myName.StateMethod == "NOK") ? "background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b" : "";
                                        if (myName.NameMethod.Contains("Gets the full tree of categories"))
                                        {
                                            <p class="card-body-methods-p-font">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Gets a list of models optionnaly filtered by category code"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Searches products by criteria"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Gets information from a product package"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Submits a product package"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-6">
                            <div class="card bg-text text-white shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                       if(myName.CategoryMethod.Contains("Order")){
                                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                                        }
                                    }
                                </div>
                                <div class="card-body-methods">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                                        var style1 = (myName.StateMethod == "NOK") ? "background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b" : "";
                                        if (myName.NameMethod.Contains("Creates a commercial gesture on a order"))
                                        {
                                            <p class="card-body-methods-p-font">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Gets if an order is eligible to commercial gesture"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Gets informations about commercial gestures on a order"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Searches orders by criteria"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Validates an order"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-6">
                            <div class="card bg-text text-white shadow">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                       if(myName.CategoryMethod.Contains("Financial")){
                                            <h2 class="text-issue">@myName.CategoryMethod</h2> 
                                        }
                                    }
                                </div>
                                <div class="card-body-methods">
                                    @foreach (Methods myName in Model._Methods)
                                    {
                                        var style = (myName.StateMethod == "OK") ? "background-color:#1cc88a" : "";
                                        var style1 = (myName.StateMethod == "NOK") ? "background-color:#febe28; display:inline-block;padding:9px 3px;font-size:20px;font-weight:700;line-height:1;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:0.35rem;transition:color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out" : "";
                                        var style2 = (myName.StateMethod == "KO") ? "background-color:#e74a3b;" : "";
                                        if (myName.NameMethod.Contains("Count invoice details"))
                                        {
                                            <p class="card-body-methods-p-font">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Download an invoice"))
                                        {
                                            <p class="card-body-methods-p2">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod == ("Download invoices"))
                                        {
                                            <p class="card-body-methods-p3">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Retrieve invoice details"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod == ("Count payment operations"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Count payments"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod == ("Retrieve payment operations"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                        if (myName.NameMethod.Contains("Retrieve payments"))
                                        {
                                            <p class="card-body-methods-p">@myName.NameMethod<span class="badge badge-success" style="@style;@style1;@style2" data-placement="bottom" data-toggle="tooltip" data-original-title="@if(@myName.StateMethod.Contains("NOK") || @myName.StateMethod.Contains("KO")){@myName.TooltipStateMethod}">@myName.StateMethod</span> </p>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" role="group" aria-label="Basic example" id="blocklinkapi">
        <a class="btn btn-secondary" asp-area="" asp-controller="APISC" asp-action="Production" role="button" id="blocklinkapi1">Go to API Sales Channel &gt;</a>
        <a class="btn btn-primary" asp-area="" asp-controller="APISOAP" asp-action="Production" role="button" id="blocklinkapi2">Go to API SOAP &gt;</a>
    </div>
</div>
<button onclick="topFunction()" id="myBtn" title="Back to top"><i class="fas fa-arrow-up"></i></button>
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<script>
   window.onscroll = function() {scrollFunction()};
   function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
         document.getElementById("myBtn").style.display = "block";
      } else {
         document.getElementById("myBtn").style.display = "none";
      }
   }
   function topFunction() {
      $('html,body').animate({ scrollTop: 0 }, 1000);
   }
</script>